body {
    margin-top: 40px;
    background: #485b6e;
        color: #fff;
        font-family: Helvetica;
    font-weight: bold;
    text-align:center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #f1f1f1
    
}
.container {
    margin: 0 auto;
    width: 100%;
    overflow: auto;
}

#games {
    width: 90%; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /* grid-template-columns: 1fr;  */
    place-items: center;
    grid-gap: 5px; 
}

.game {
    width: 280px;
    height: 280px;
    border: 1px solid #dadada;
    margin: 10px;
    padding: 0;
    margin-bottom: 20px;
}

.game > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.game > li.x {
    font-size: 35px;
    color: #ed4e6e
}

.game > li.o {
    font-size: 35px;
    color: #485b6e;
}

.game > li:hover {
    background: #f9f9f9;
}

.game > li:active {
    width: 70px;
    height: 70px;
    border: 0;
}

#nfo {
    text-align:center;
    margin-top: 10px;
}

#whos-turn > span,
#game-messages > span {
    display: none;
}

#whos-turn.x span.x,
#whos-turn.o span.o, 
#game-messages.player-x-win > span.player-x-win, 
#game-messages.player-o-win > span.player-o-win,
#game-messages.draw > span.draw {
    display: block;
    margin-top: 10px;
}

.buttons {
    text-align: center;
        border: none;
        padding: 0.6em 1.2em;
        background: #ed4e6e;
        color: #fff;
        font-size: 1em;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        margin: 3px 2px;
        border-radius: 2px;
}

.buttons:hover {
        background: #2c3e52;
}

#start-game {
        padding: 0.6em 0.6em;
        font-size: 1em;
        margin: 2px 2px;
        border-radius: 2px;
}

#timeout {
    padding: 0.6em 1.2em;
    font-size: 0.7em;
}

.buttons:disabled {
    background: #996772;
}

#contract-ID-tojoin{
    border: none;
    border-bottom: 2px solid red;
    background: #485b6e;
    color: pink;
    font-size: small;
}

.inputs{
    border: none;
    border-bottom: 2px solid red;
    background: #485b6e;
    color: pink;
    font-size: small;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }